/* =Typographical mixins and styling
-------------------------------------------------------------- */

@function calculateRem($sizeInPx) {
  $remSize: $sizeInPx / 16;
  @return #{$remSize}rem;
}

@mixin fontSize($sizeInPx) {
  font-size: $sizeInPx + px; //Fallback in px
  font-size: calculateRem($sizeInPx);
}

/* =Typography
-------------------------------------------------------------- */