{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-container uk-padding">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">
                <h1 class="uk-card-title">Future Forward<sup>(BETA)</sup></h1>
                <h4>Check Your Inbox</h4>
                <p>An email containing instructions for resetting your password has been sent to: <span>{{ user.email }}</span></p>
                <p><a href="{{ path('welcome') }}">Return to Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}
