{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-container uk-padding">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">
                <h1 class="uk-card-title">{{ get_site().name }}<sup>(BETA)</sup></h1>
                <h4>Password Error</h4>
                <p>Invalid or expired password request</p>
                <p><a href="{{ path('welcome') }}">Return to Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}
