###> Vagrant Specific Environment Variable ###
VAGRANT=true

###> symfony/swiftmailer-bundle ###
# Used for MailHog in your vagrant box. On your local machine we don't actually send to the Mandrill SMTP Server
# You can view/test emails that would have been sent by visiting http://www.pintex.test:8025
MAILER_URL=smtp://127.0.0.1:1025
###< symfony/swiftmailer-bundle ###

###> Digital Ocean Spaces API ###
SPACE_ACCESS_KEY=4N64DVRPMVI6JQ6FRRNO
SPACE_SECRET_KEY=Mb+DmankYzpypyjZ1TRmYk4WyVk0bESCfZpK9cNG3G0
SPACE_NAME=pintex
SPACE_REGION=sfo2
