<div id="{{ chart.name }}">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header" style="position: relative">
            <span style="position: absolute; top: 10px; right: 20px" uk-icon="move" class="uk-sortable-handle"></span>
            {{ chart.header }}: <mark>{{ chart.npsScore }}</mark>
        </div>
        <div class="uk-card-body">
            {# TODO You can add these to a controller that symfony can render asyncronously. Come back and do this before the demo. #}

            <div class="react-gauge-chart"
                 data-bg-color="#cccccc"
                 data-label="NPS Score"
                 data-max="100"
                 data-min="-100"
                 data-value="{{ chart.npsScore }}"
            ></div>

        </div>
        <div class="uk-card-footer" style="text-align: center">
            <button uk-toggle="target: #nps-more-info" class="uk-button uk-button-default" type="button">More Info
            </button>
        </div>
    </div>
</div>

<!-- This is the modal -->
<div id="nps-more-info" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">NPS Score</h2>

        <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>

        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
        <strong>“How likely is it that you would recommend us to a friend?”</strong>
        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents
            who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those
            answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0
            through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents
            who are promoters and subtract the percent of respondents who are detractors to give you a number between
            zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19
            was 68.</p>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>