/* =Login
-------------------------------------------------------------- */
.page-login {

  .login-box {
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 600px;
  }
  .login-box .uk-card {
    background: rgba(255, 255, 255, 0.85);
  }
  .login-box__register .uk-tab .fas {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
  }
  .login-box__register .uk-tab .uk-active .fa-briefcase {
    color: #E91D63;
  }
  .login-box__register .uk-tab .uk-active .fa-graduation-cap {
    color: #FF9801;
  }
  .login-box__register .uk-tab .uk-active .fa-book-reader {
    color: #00ACC1;
  }
  .login-box__register .uk-tab > .uk-active > a {
    border-color: transparent;
  }
  .login-box__register-tab-contents {
    display: block;
  }

}

.page-forgot,
.page-activated {

  .uk-container {
    max-width: 600px;
  }

  .uk-card {
    background: rgba(255, 255, 255, 0.85);
  }
}
