{% extends 'baseAuthenticated.html.twig' %}

{% block title %}You've graduated!{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-width-xlarge">
                    <h3>You've graduated! Graduating students don't have access to the platform!</h3>
                    <p>Check back in the future for more features for graduated students.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
