<li class="uk-nav-divider"></li>

<li class="uk-nav-header">Management</li>

<li><a href="{{ path('report_index') }}"><span class="uk-margin-small-right" uk-icon="icon: download"></span> Reports</a></li>

{% if user.ownedCompany %}
    <li><a href="{{ path('report_experience_satisfaction_dashboard') }}"><span class="uk-margin-small-right" uk-icon="icon: database"></span> Dashboards</a></li>
{% endif %}

