<li class="uk-nav-divider"></li>

<li class="uk-nav-header">Regional Admin</li>
<li><a href="{{ path('school_new') }}">Create a new school</a></li>
<li><a href="{{ path('school_admin_new') }}">Create a new school administrator</a></li>
