<li class="uk-nav-divider"></li>

<li class="uk-nav-header">Admin</li>
<li><a href="{{ path('manage_users') }}"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Manage Users</a></li>
<li><a href="{{ path('sites_admin_new') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Create Domain Admin</a></li>
<li><a href="{{ path('admin_event_types_new') }}"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Create Experience Type</a></li>
<li><a href="{{ path('admin_role_new') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Create New Role</a></li>
