{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New Requests{% endblock %}
{% block bodyClass %}requests-landing{% endblock %}



{% block body %}

    <div class="uk-container">

        <ul class="" data-uk-tab="{connect: '#tab-requests'}" uk-switcher>
            <li class="uk-active"><a href="#requests-mine">My Requests ({{ myCreatedRequests|length }})</a></li>
            {% if requestsThatNeedMyApproval|length > 0 %}
                <li><a href="#requests-approvals">Pending Approvals ({{ requestsThatNeedMyApproval|length }})</a></li>
            {% endif %}
        </ul>

        <div class="uk-switcher" id="tab-requests">
            <div class="requests-landing__my-requests">
                <div class="uk-width-xlarge">
                    {% if myCreatedRequests|length > 0 %}
                        <ul uk-accordion>
                            {% for request in myCreatedRequests %}

                                {% if request.className == 'JoinCompanyRequest' %}
                                    {% include 'request/partials/_join_companies.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                                {% if request.className == 'NewCompanyRequest' %}
                                    {% include 'request/partials/_new_companies.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                                {% if request.className == 'StateCoordinatorRequest' %}
                                    {% include 'request/partials/_state_coordinator_request.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="uk-placeholder">
                            You have no pending requests currently.
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if requestsThatNeedMyApproval|length > 0 %}
                <div class="requests-landing__my-approvals">
                    <div class="uk-width-xlarge">
                        <ul uk-accordion>
                            {% for request in requestsThatNeedMyApproval %}

                                {% if request.className == 'JoinCompanyRequest' %}
                                    {#todo This needs to be figured out cause there can be requests to join a company from both sides. A Company to a user and a user to a company #}
                                    {% include 'request/partials/_join_companies.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                                {% if request.className == 'NewCompanyRequest' %}
                                    {% include 'request/partials/_new_companies.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                                {% if request.className == 'StateCoordinatorRequest' %}
                                    {% include 'request/partials/_state_coordinator_request.html.twig' with {'request': request, 'user': user} %}
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}



