{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Knowlege Base{% endblock %}

{% block body %}
    <div class="uk-container">
        <h3>Knowledge Base</h3>
        <ul data-uk-tab="{connect: '#tab-knowledge'}" uk-switcher>
            <li class="uk-active"><a href="#knowledge-general">General</a></li>
            <li><a href="#knowledge-school-admins">School Administrators</a></li>
            <li><a href="#knowledge-educators">Educators</a></li>
            <li><a href="#knowledge-professionals">Professionals</a></li>
            <li><a href="#knowledge-students">Students</a></li>
            <li><a href="#knowledge-curriculum">Curriculum Resources</a></li>
        </ul>

        <div class="uk-switcher" id="tab-knowledge">
            <div class="knowledge__general">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">General Knowledge Base</h3>
                    <p>Below you will find helpful videos.  If you are looking for helpful files, access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/general-resources/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
                <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/tgown88cwz" width="400" height="225"></iframe>
                        </div>
                        <strong>Introduction to Training Videos</strong>
                        <p>This video provides an overview of the component parts of the 20 + Career Ingrained Learning training videos</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/8dl0k54n6e" width="400" height="225"></iframe>
                        </div>
                        <strong>Project Clients - The project experience and how to make it a success</strong>
                        <p>Executives who have had students complete consulting projects for their companies, describe the experience and offer advice on how to make it a rewarding experience, both for the company and the students.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/nb5yldirle" width="400" height="225"></iframe>
                        </div>
                        <strong>Parents - How to support your child in this program</strong>
                        <p>Parents share their thoughts and advice on how to best support your child who is enrolled in a career focused program.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/cxpdgqwehk" width="400" height="225"></iframe>
                        </div>
                        <strong>Parents - The impact of this form of education upon their child</strong>
                        <p>Parents discuss how career focused education has had an empowering and transformative effect upon their child.</p>
                    </div>
                </div>
            </div>
            <div class="knowledge__school-admins">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">School Administrator Knowledge Base</h3>
                    <p>Access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/schooladmiresources/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
            </div>
            <div class="knowledge__educators">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">Educator Knowledge Base</h3>
                    <p>Below you will find helpful videos.  If you are looking for helpful files, access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/educator-resources/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
                <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/724v6tw369" width="400" height="225"></iframe>
                        </div>
                        <strong>Educators - Creating a professional work environment</strong>
                        <p>Teachers describe how they work to create a professional environment that replicates the standards and attitudes the students will experience in the workplace.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/b81fdh94fv" width="400" height="225"></iframe>
                        </div>
                        <strong>Educators - Examples of site visits and guest instruction</strong>
                        <p>Teachers share specific examples of site visits and guest instructors and how they have integrated them into the curriculum and brought their courses to life.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/boajlc4i64" width="400" height="225"></iframe>
                        </div>
                        <strong>Educators - Working with guest instructors</strong>
                        <p>Teachers explain the process of preparing and hosting a guest instructor in their courses.</p>
                    </div>
                </div>
            </div>
            <div class="knowledge__professionals">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">Professional Knowledge Base</h3>
                    <p>Below you will find helpful videos.  If you are looking for helpful files, access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/resourcesforprofessionals/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
                <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/5nd7mr8r0m" width="400" height="225"></iframe>
                        </div>
                        <strong>Guest Instructors - The teaching experience and how to make it a success</strong>
                        <p>Executives who have taught a class to students describe the experience and share their thoughts on how to make it a success.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/t6nwby7wxh" width="400" height="225"></iframe>
                        </div>
                        <strong>Mentors - Successfully mentoring a student</strong>
                        <p>Executives share their experiences as mentors and offer advice on what it takes to build a successful relationship with your mentee.</p>
                    </div>
                </div>
            </div>
            <div class="knowledge__students">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">Student Knowledge Base</h3>
                    <p>Below you will find helpful videos.  If you are looking for helpful files, access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/futureforwardstudentresources/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
                <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/ctqkk4oyq7" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - Building a Successful Relationship with your mentor</strong>
                        <p>Graduates describe how to get the best out of their relationship with their assigned mentor</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/a4txuwpr2c" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - How to excel in career focused programs</strong>
                        <p>Graduates share advice on what it takes to have a great experience and do well in career focused programs which involve a lot of interaction with the professional world.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/ve6tdrzskl" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - What mentors can do for you</strong>
                        <p>Students share how to use your mentor most effectively to build your professional skills and excel in career focused programs.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/5f6heugq6p" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - How the experience is different from High School</strong>
                        <p>Graduates speak about how this attending a program focused on career readiness is very different from a traditional high school</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/mdqglja3cl" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - Keys to Success on the Client Projects</strong>
                        <p>Graduates share their experience in working on client projects and offer advice on the keys to success in doing an outstanding job for the client.</p>
                    </div>
                    <div>
                        <div class="iframe-container iframe-container--no-min">
                            <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/27gvcop9vh" width="400" height="225"></iframe>
                        </div>
                        <strong>Students - Importance of Professionalism and Soft Skills</strong>
                        <p>College freshman speak about the importance of developing professionalism and soft skills whilst in career oriented programs during high school and what that experience was like.</p>
                    </div>
                </div>
            </div>
            <div class="knowledge__curriculum">
                <article class="uk-article uk-margin-bottom">
                    <h3 class="uk-article-title">Curriculum Knowledge Base</h3>
                    <p>Access our <a class="uk-link-text" href="https://sites.google.com/apritonadvisors.com/curriculumresources/home?authuser=1" target="_blank">file portal</a>.</p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

