{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : recipient.firstName } %}

<p>Your request for <strong>{{ approver.fullName }}</strong> to join your company page has been accepted.</p>

{% include 'email/partial/emailFooter.html.twig' %}