{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}

<p>You have been registered for the following event <strong>{{ request.companyExperience.title }}</strong>!</p>
<p>Please login to your <a href="{{ url('dashboard') }}">dashboard</a> for more details.</p>

{% include 'email/partial/emailFooter.html.twig' %}