{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}

<p>Student <strong>{{ request.studentUser.fullName }}</strong> has been successfully registered for the following event <strong>{{ request.companyExperience.title }}</strong>!</p>

{% include 'email/partial/emailFooter.html.twig' %}