{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.needsApprovalBy.firstName } %}


{% if request.isFromCompany %}
    <p>You have a request from <strong>{{ request.company.name }}</strong> to join their page!</p>
    <p>Login to the dashboard to accept</p>
    {% else %}
        <p>You have a new request from <strong>{{ request.createdBy.firstName }} {{ request.createdBy.lastName }}</strong> wishing to join your company</p>
        <p>Please login to the <a href="{{ url('dashboard') }}">dashboard</a> to approve request.</p>
{% endif %}

{% include 'email/partial/emailFooter.html.twig' %}