{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : recipientFirstName } %}

<p>Your request to join <strong>{{ company.name }}</strong> has been approved</p>
<p>Please login to the <a href="{{ url('dashboard') }}">dashboard</a> to see your company.</p>

{% include 'email/partial/emailFooter.html.twig' %}