{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}

<p>Your company <strong>{{ request.company.name }}</strong> has is awaiting approval! Once approved it will be visible on the site!</p>

{% include 'email/partial/emailFooter.html.twig' %}