{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : recipientFirstName} %}

<p>Your company <strong>{{ company.name }}</strong> is awaiting approval! Once approved it will be visible on the site!</p>

{% include 'email/partial/emailFooter.html.twig' %}