{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}

<p>Your company <strong>{{ request.company.name }}</strong> has been approved!</p>

{% include 'email/partial/emailFooter.html.twig' %}