{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}
<p>{{ request.needsApprovalBy.firstName }} has accepted your request to be a site admin for {{ request.site.name }}.</p>
{% include 'email/partial/emailFooter.html.twig' %}