{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.needsApprovalBy.firstName } %}

<p>You have a request to be a state coordinator for the state of {{ request.state.name }}.</p>

{% if request.allowApprovalByActivationCode %}
    <p>Click link below to accept request as state coordinator.</p>
    <p><a href="{{ activateUrl }}"><strong>{{ activateUrl }}</strong></a></p>
{% endif %}

{% include 'email/partial/emailFooter.html.twig' %}