{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}
<p>{{ request.needsApprovalBy.firstName }} has accepted your request to be a state coordinator for the state of {{ request.state.name }}.</p>
{% include 'email/partial/emailFooter.html.twig' %}