{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : recipient.firstName } %}

<p>Your request to to register for the experience <strong>{{ experience.title }}</strong> has been approved!</p>

{% include 'email/partial/emailFooter.html.twig' %}