{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : recipient.firstName } %}

<p>You have a new registration request from <strong>{{ createdBy.fullName }}</strong>
    for experience: <strong>{{ experience.title }}</strong>
</p>

{% if experience.requireApproval %}
    <p>Please login to the <a href="{{ url('dashboard') }}">dashboard</a> to approve/deny this registration.</p>
{% else %}
    <p>Please login to the <a href="{{ url('dashboard') }}">dashboard</a> to manage your registrations.</p>
{% endif %}

{% include 'email/partial/emailFooter.html.twig' %}