<li>
    <a class="uk-accordion-title" href="#">Creating a Company</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/bec972b7372d40598491f64981f22449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Joining a Company</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/e1e3e30fb9a04ebe8ae1b6dd87d5da52" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating an Experience</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/bc603cc9acdc4ec5933487597a6ee590" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Search for a Topic</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/ac5ab9a96308425b9682539976a862ae" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating a Topic</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/dfc0ad3ec37e4e1aa72c75fc1d457623" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</li>
