<li>
    <a class="uk-accordion-title" href="#">An Overview of FF Platform</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/Q2ks0u0mCtc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating Student Accounts</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/9dXQh-bKEfY" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating Educator Accounts</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/6P3gj5Ylg6Q" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating a School Event</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/2XkXN4EKmyM" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Creating Your School's Profile</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/j4px8HSCVLI" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Setting Student to Professional Communication</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/FW_4YE9jwDo" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
