<li>
    <a class="uk-accordion-title" href="#">Overview of Platform</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/T0KLKWlqWgM" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Giving Feedback on Event</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/Luwcd6T7bXc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Finding Company Experiences</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/puRpjrYg4Ew" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Searching for Companies</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/Ilr2yFSMgQw" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Register for Company Event</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/ZCV43CzXG-M" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Booking an Informational Interview or Job Shadow</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/M4mDIWAxbto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Chatting with Professionals</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/sTLs2WmsuP4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
<li>
    <a class="uk-accordion-title" href="#">Registering for a School Event</a>
    <div class="uk-accordion-content uk-video">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;">
            <iframe src="https://www.youtube.com/embed/R37NKJFFxqk" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
</li>
