{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>The event <strong>{{ experience.title }}</strong> has been cancelled by the event's creator.</p>

<p>Cancellation Message:</p>

<p>{{ message }}</p>

{% include 'email/partial/emailFooter.html.twig' %}