
                                </td>
                            </tr>
                            <tr>
                                <td height="40">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="640" height="40" style="font-family: Helvetica, Arial, sans-serif; color: #636466; text-align: center; font-size: 14px;">
                    {{ get_site().signature }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
