
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="640" height="40" style="font-family: Helvetica, Arial, sans-serif; color: #636466; text-align: center; font-size: 14px;">
                        &copy;2019 Future Forward. All Rights Reserved.<br />
                        210 Wood Lake Drive SE | Rochester, MN 55904 | <a href="tel:1-507-281-6678" style="color: #636466; text-decoration: none;">(507) 281-6678</a> | <a href="http://www.futureforward.org/" style="color: #636466; text-decoration: none;">www.futureforward.com</a><br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
