.atc-wrapper {
  display: inline-block;
  width: 180px;
  height: 30px;
  font-size: 0.875rem;
  text-transform: uppercase;
  vertical-align: middle;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.atc-checkbox-label {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  user-select: none;
  padding: 0;
}

.atc-checkbox-label:hover {
  background-color: #0f7ae5;
  color: #fff;
}

.atc-links-wrapper {
  background: white;
  transition: transform .5s, opacity .1s;
  border: 0 solid #e5e5e5;
  border-left-width: 1px;
  border-right-width: 1px;
  box-sizing: border-box;
  transform: translateY(-100%);
  width: 100%;
  opacity: 0;
}

.atc-link {
  line-height: 30px;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background: white;
  color: #333;
  pointer-events: none;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  transition: background .5s, color .5s;

  &:hover {
    background: #1e87f0;
    color: white;
    text-decoration: none;
  }
}

.atc-checkbox {
  display: none;

  &:checked + .atc-links-wrapper {
    transform: translateY(0);
    opacity: 1;
    transition: transform .5s, opacity .5s .2s;

    .atc-link {
      pointer-events: auto;
    }
  }
}

/*
.experiences_calendar {
  .fc-day-grid-container {
    height: auto !important;
    overflow: visible !important;
  }
}
*/
