.form-smile-rating {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__input {
    margin-right: 10px;
    width: 50px;

    image {
      cursor: pointer;
      cursor: hand;
    }
  }

}
