.knowledge-base {
  background: #1e87f0;
  border: 1px solid #FFF;
  border-radius: 8px 0 0 8px;
  bottom: 50px;
  color: #FFF;
  cursor: pointer;
  cursor: hand;
  font-size: 24px;
  height: 50px;
  position: fixed;
  right: -1px;
  text-align: center;
  width: 50px;
  z-index: 10;
}