<select class="uk-select" style="width: 200px">
    <option value="" disabled selected>Bulk actions</option>
    <option value="{{ path(route, query|merge({'action': 'delete'})) }}">Delete</option>
    <option value="{{ path(route, query|merge({'action': 'change_password'})) }}">Change Password</option>
    <option value="{{ path(route, query|merge({'action': 'change_supervising_teacher'})) }}">Change Supervising Teacher</option>
    <option value="{{ path(route, query|merge({'action': 'mark_as_graduated'})) }}">Mark as Graduated</option>
</select>
<button class="uk-button uk-button-primary">Apply</button>