<fieldset class="uk-margin">

    <legend class="">
        Tell us a bit about the import (Step {{ flow.getCurrentStepNumber() }})
    </legend>

    <div class="uk-grid">

        <div class="uk-width-1-1@m">
            <label>User Type<span class="uk-text-danger">*</span></label>
            <div>
                {% for item in form.type.children %}
                    {{ form_widget(item, {'attr': {'class' : 'uk-radio'}}) }}
                    <label>{{ item.vars.label }}</label>
                {% endfor %}
                {{ form_errors(form.type) }}
            </div>
        </div>

    </div>

</fieldset>