<fieldset class="uk-margin">

    <legend class="">
        Tell us a bit about the import (Step {{ flow.getCurrentStepNumber() }})
    </legend>

    <div class="uk-grid">

        <div class="uk-width-1-1@m">
            <label>User Type<span class="uk-text-danger">*</span></label>
            <div>
                {% for item in form.type.children %}
                    {{ form_widget(item, {'attr': {'class' : 'uk-radio'}}) }}
                    <label>{{ item.vars.label }}</label>
                {% endfor %}
                {{ form_errors(form.type) }}
            </div>
        </div>

    </div>

</fieldset>

{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
    craue_formflow_button_class_reset: 'uk-button uk-button-primary uk-hidden',
    craue_formflow_button_class_next: 'uk-button uk-button-primary uk-align-right',
    craue_formflow_button_label_next: 'Continue',
    craue_formflow_button_class_last: 'uk-button uk-button-primary',
    craue_formflow_button_class_back: 'uk-button uk-button-primary',
    craue_formflow_button_class_finish: 'uk-button uk-button-primary uk-align-right',
    craue_formflow_button_label_finish: 'Submit',
} %}