<fieldset class="uk-margin">

    <legend class="">
        User Info (Step {{ flow.getCurrentStepNumber() }})<span class="uk-text-danger">*</span>
    </legend>

    <div data-user-import-uuid="{{ userImport.uuid }}" id="user-import"></div>

</fieldset>