{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>A new company needs approval! <strong>{{ company.name }}</strong></p>

{% include 'email/partial/emailFooter.html.twig' %}