{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>You have request from <strong>{{ company.name }}</strong> to join</p>

{% include 'email/partial/emailFooter.html.twig' %}