{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>You have a request from <strong>{{ user.firstName }} {{ user.lastName }}</strong> to join your company</p>

{% include 'email/partial/emailFooter.html.twig' %}