{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}
    <div id="searchable-lesson-listing"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

