{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}

    <div class="uk-container">

        {% include 'flash/messages.html.twig' %}

        <div class="uk-margin uk-width-1-1">
            <div class="uk-flex uk-flex-right@m">
                {% if user.isEducator %}
                    <a href="{{ path('request_lesson_experience_or_site_visit') }}" class="uk-button uk-button-default uk-button-small uk-margin-small-right">Suggest a Lesson</a>
                {% endif %}
                <a href="{{ path('lesson_new') }}" class="uk-button uk-button-primary uk-button-small">Create a Lesson</a>
            </div>
        </div>

        <div id="searchable-lesson-listing"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

