{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}

    <div class="uk-container">

        {% if successMessage %}
            <div class="uk-alert-success uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ successMessage }}</p>
            </div>
        {% endif %}

        {% if errorMessage %}
            <div class="uk-alert-error uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ errorMessage }}</p>
            </div>
        {% endif %}

        <div class="uk-margin uk-width-1-1">
            <div class="uk-flex uk-flex-right@m">
                <a href="{{ path('lesson_new') }}" class="uk-button uk-button-primary uk-button-small">Create a Lesson</a>
            </div>
        </div>

        <div id="searchable-lesson-listing"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

