{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <div id="searchable-company-listing" data-user-id="{{ user.id }}"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}