{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form with _self %}

{% block title %}Request company users{% endblock %}
{% block bodyClass %}page-company-request-users{% endblock %}

{% block body %}
        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
        {{ form_row(form.emailAddress) }}
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Save</button>
        </div>
        {{ form_end(form) }}

{% endblock %}
