{% if successMessage %}
    <div class="uk-container uk-margin-bottom">
        <div class="uk-alert-success uk-margin" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ successMessage }}</p>
        </div>
    </div>
{% endif %}

{% if errorMessage %}
    <div class="uk-container uk-margin-bottom">
        <div class="uk-alert-error uk-margin" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ errorMessage }}</p>
        </div>
    </div>
{% endif %}
