{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Events{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="react-events-calendar"></div>
{% endblock %}
