{% if requestsThatNeedMyApproval|length > 0 %}
    <div class="requests-landing__my-approvals">
        <ul class="uk-width-xlarge" uk-accordion>
            {% for request in requestsThatNeedMyApproval %}
                {{ render_request( request, user, "my-requests_approval", "my-requests-approval" )|raw }}
            {% endfor %}
        </ul>
    </div>

{% else %}

    {% if user.professional %}
        You have not received any requests at this time. Instead, you can reach out to <a
            href="{{ path('educator_results_page') }}">educators</a>
        in your area of expertise and see what help they might need!
    {% elseif user.educator %}
        You do not have any open requests yet.
    {% endif %}

{% endif %}