{% include 'email/partial/emailHeader.html.twig' %}

<p>Hi {{ user.firstName }},</p>

<p>You have a request for a lesson, experience, or site visit.</p>

<p></p>message: <strong>{{ message }}</strong></p>

{% include 'email/partial/emailFooter.html.twig' %}