{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Professionals{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="searchable-professional-listing" data-user="{{ encode_user(user) }}" ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/users.js') }}"></script>
{% endblock %}

