{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Feedback{% endblock %}
{% block bodyClass %}page-feedback-all{% endblock %}

{% block body %}
    <div class="uk-container">
        {# FEEDBACK WIDGET #}
        {{ feedback_widget_v2(experiences, user)|raw }}
    </div>
{% endblock %}