{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>Educators successfully imported</p>
<p>Attached are the usernames and temporary passwords for each educator.</p>

{% include 'email/partial/emailFooter.html.twig' %}