{% include 'email/partial/emailHeader.html.twig' %}

<p>Hi {{ user.firstName }},</p>

<p>{{ sent_from.firstName }} {{ sent_from.lastName }} has sent you a new message:</p>

<p style="font-weight: bold">{{ customMessage | raw }}</p>

{% include 'email/partial/emailFooter.html.twig' %}
