{% include 'email/partial/emailHeader.html.twig' %}

<p>Hi {{ user.firstName }},</p>

<p>Shared with you:</p>

<p style="font-weight: bold">{{ customMessage | raw }}</p>

{% include 'email/partial/emailFooter.html.twig' %}
