{% include 'email/partial/emailHeader.html.twig' %}

<p>Hi {{ user.firstName }},</p>

<p>Shared with you:</p>

<p style="font-weight: bold">{{ customMessage | raw }}</p>

<p><em>Sent from: {{ sent_from.firstName }} {{ sent_from.lastName }}</em></p>

{% include 'email/partial/emailFooter.html.twig' %}
