{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>Password reset requested.</p>
<p>Click link below to reset your password.</p>

<p>The following can be used to login once your password has been reset.</p>
{% if user.email %}
    <p>
        Email: <strong>{{ user.email }}</strong>
    </p>
{% endif %}
{% if user.username %}
    <p>
        Username: <strong>{{ user.username }}</strong>
    </p>
{% endif %}

<p><a href="{{ resetPasswordUrl }}"><strong>{{ resetPasswordUrl }}</strong></a></p>


{% include 'email/partial/emailFooter.html.twig' %}