{% include 'email/partial/emailHeader.html.twig' %}

<p>{{ user.firstName }}, welcome to Future Forward!</p>

<p>You’ve been set up as an instructor for {{ courseTitle }}. As an
    instructor, you’ll be able to manage your course by monitoring
    your student's progress, by reviewing what they share and post in their sessions, by removing any
    shared content you feel is objectionable, and more!</p>

<p>We can’t wait to get you started on this fun adventure!</p>

<p>Click the link below to reset your password, and you’ll be on your way!</p>


<p><a href="{{ accountActivationUrl }}"><strong>{{ accountActivationUrl }}</strong></a></p>

{% include 'email/partial/emailFooter.html.twig' %}