{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>Students successfully imported</p>
<p>Attached are the usernames and temporary passwords for each student to login.</p>


{% include 'email/partial/emailFooter.html.twig' %}