<div class="main-navigation">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-width-1-1 uk-width-1-2@m">
                <div class="nav-overlay uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="javascript:void(0)">
                        {% set url = 'build/images/logo-future-forward.png' %}
                        <img src="{{ asset(url) }}" alt="">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
